// Here you can add other styles

.custom-header {
  background-color: #00437a;
}

.text-gray {
  color: #eaeaea;
}

.text-white-2 {
  color: #ffffff;
}

.text-in-logo-color {
  color: #00437a;
}

.custom-header-text:hover {
  color: coral;
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.login-side-panel {
  position: fixed;
  background: url(../images/login.jpeg) center center / cover;
  height: 100%;
  width: 100%;
  min-height: 250px;
  animation: fadeIn ease 1s;
}

.login-right-container {
  margin-top: 15vh;
}

.active {
  background-color: rgba(17, 17, 17, 0.4);
}

.header-img {
  animation: fadeIn ease 1s;
  width: 100%;
  height: 260px;
  background: url("../images/header_city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 10%;
}


.header-v2 {
  animation: fadeIn ease 1s;
  width: 100%;
  height: 300px;
  background: url("../images/header_city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.event-page-header-image {
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.event-page-content {
  position: fixed;
  z-index: 2;
  margin-top: 100px;
  width: 100%;
}

.carousel-title {
  line-height: 1.2;
  font-size: 40px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #1577f77c;
}

.carousel-caption {
  right: 15%;
  left: 15%;
  top: 15%;
  color: #fff;
}

h3.title-big {
  font-family: "Arial Black", sans-serif;
  font-weight: 750;
  line-height: 1.00;
  letter-spacing: -0.5px;
  font-size: 2.5em;
  color: #00437a;
}

h4.header-title {
  font-family: "Arial Black", sans-serif;
  font-weight: 750;
  line-height: 1.00;
  letter-spacing: -0.5px;
  font-size: 2.5em;
  color: #f1f1f1;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.event-title {
  font-family: Georgia, serif;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
  font-size: 1.625rem;
  font-weight: 475;
  line-height: 1.5;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 30px;
  box-shadow: 0 0.1rem 0.1rem rgba(90, 97, 105, 0.12), 0 0.1rem 0.1rem rgba(90, 97, 105, 0.1);
}


.selection-effect:hover {
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.registration-add-question {
  padding: 5px;
}

.registration-add-question:hover {
  background-color: #cbcbcb;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-logo-color {
  color: #fff;
  background-color: #00437a;
  border-color: #2819ae;
  box-shadow: 0 0 0 0.2rem rgba(81, 65, 224, 0.5);
}

.navbar .user-avatar {
  max-width: 1.6rem;
}

.slide-from-left {
  -webkit-animation: slide-from-left-anim .8s forwards;
  animation: slide-from-left-anim .8s forwards;
}

.slide-from-right {
  -webkit-animation: slide-from-right-anim .8s forwards;
  animation: slide-from-right-anim .8s forwards;
}

.wipe-open {
  -webkit-animation: wipe-open-anim .8s forwards;
  animation: wipe-open-anim .8s forwards;
}

.success-dialog {
  margin: 15px 30px;
}

.add-new-post__editor {
  min-height: 250px;
  transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.add-new-post__editor:hover {
  border-color: #b3bdcc;
}

.add-new-post__editor:focus {
  color: #495057;
  background-color: #fff;
  border-color: #007bff;
  box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
}

.add-new-post__editor:focus:hover {
  border-color: #007bff;
}

.add-new-post__editor::placeholder {
  color: #868e96;
}

.add-new-post__editor:disabled, .form-control[readonly] {
  background-color: #f5f6f7;
}

.add-new-post__editor:disabled:hover, .form-control[readonly]:hover {
  border-color: #e1e5eb;
  cursor: not-allowed;
}

.add-new-post__editor[readonly]:not(:disabled):focus {
  box-shadow: none;
  border-color: #e1e5eb;
}


// profile view

.card-profile-image {
  position: relative;
}

.card-profile-image img {
  max-width: 180px;
  border-radius: 0.375rem;
  position: absolute;
  transition: all 0.15s ease;
}

.card-profile-image img:hover {
  transform: translate(0,-10%);
}

.card-profile-actions {
  padding: .875rem;
}

.card-lift--hover:hover {
  transform: translateY(-20px);
  transition: all 0.15s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .card-lift--hover:hover {
    transition: none;
  }
}

.card-stats .card-body {
  padding: 1rem 1.5rem;
}

.card-stats .card-status-bullet {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.shadow-sm {
  box-shadow: 0 0 0.5rem rgba(136, 152, 170, 0.075) !important;
}

.shadow, .card-profile-image img {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 0 3rem rgba(136, 152, 170, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #8898aa;
  background-color: #fff;
  border-color: rgba(50, 151, 211, 0.25);
  outline: 0;
  box-shadow: none, none;
}

.form-control::placeholder {
  color: #adb5bd;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #8898aa;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.col-form-label {
  padding-top: calc(0.625rem + 1px);
  padding-bottom: calc(0.625rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.875rem + 1px);
  padding-bottom: calc(0.875rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #525f7f;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-control-lg {
  height: calc(3.625rem + 2px);
  padding: 0.875rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.4375rem;
}

select.form-control[size], select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.form-check-input:disabled ~ .form-check-label {
  color: #8898aa;
}

.form-check-label {
  margin-bottom: 0;
}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}

[class*="shadow"] {
  transition: all 0.15s ease;
}

.shadow-sm--hover:hover {
  box-shadow: 0 0 0.5rem rgba(136, 152, 170, 0.075) !important;
}

.shadow--hover:hover {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.shadow-lg--hover:hover {
  box-shadow: 0 0 3rem rgba(136, 152, 170, 0.175) !important;
}

.shadow-none--hover:hover {
  box-shadow: none !important;
}


select.form-control:focus::-ms-value {
  color: #8898aa;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.col-form-label {
  padding-top: calc(0.625rem + 1px);
  padding-bottom: calc(0.625rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.875rem + 1px);
  padding-bottom: calc(0.875rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #525f7f;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.form-control-lg {
  height: calc(3.625rem + 2px);
  padding: 0.875rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.4375rem;
}

select.form-control[size], select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}


@keyframes slide-from-left-anim {
  from {
    transform: translateX(-3%);
    opacity: .6;

  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes wipe-open-anim {
  from {
    opacity: .1;

  }
  to {
    opacity: 1;
  }
}


@keyframes slide-from-right-anim {
  from {
    transform: translateX(3%);
    opacity: .6;

  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


@media only screen and (max-width: 992px) {
  .carousel-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {

  .carousel-title {
    font-size: 35px;
    line-height: 1.0;
  }

  .header-img {
    height: 250px;
  }

  .login-right-container {

    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .login-side-panel {
    position: relative;
    height: 25vh;
  }
}

@media only screen and (max-width: 576px) {
  .header-img {
    height: 250px;
  }

  .carousel-title {
    font-size: 35px;
    line-height: 1.0;
  }

}