// Here you can add other styles

.custom-header{
  background-color: #3266d0;
}

.custom-header-text:hover{
  color: coral;
  text-decoration: none;
}

.header-img {
  animation: fadeIn ease 1s;
  width: 100%;
  height: 260px;
  background: url("../images/header_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 10%;
  filter: grayscale(50%);
  filter: blur(3px);
}

.carousel-title {
  line-height: 1.2;
  font-size: 40px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #1577f77c;
}

.carousel-caption {
  right: 15%;
  left: 15%;
  top: 15%;
  color: #fff;
}


@media only screen and (max-width: 992px) {
  .carousel-title {
    font-size: 40px;
  }

}

@media only screen and (max-width: 768px) {

  .carousel-title {
    font-size: 35px;
    line-height: 1.0;
  }

  .header-img {
    height: 250px;
  }

}
@media only screen and (max-width: 576px) {
  .header-img {
    height: 250px;
  }

  .carousel-title {
    font-size: 35px;
    line-height: 1.0;
  }
}