// Here you can add other styles

.custom-header {
  background-color: #00437a;
}

.text-gray {
  color: #eaeaea;
}

.text-white-2 {
  color: #ffffff;
}

.text-in-logo-color {
  color: #00437a;
}

.custom-header-text:hover {
  color: coral;
  text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.login-side-panel {
  position: fixed;
  background: url(../images/login.jpeg) center center / cover;
  height: 100%;
  width: 100%;
  min-height: 250px;
}

.login-right-container {
  margin-top: 15vh;
}

.active {
  background-color: rgba(17, 17, 17, 0.4);
}

.header-img {
  animation: fadeIn ease 1s;
  width: 100%;
  height: 260px;
  background: url("../images/header_city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 10%;
}


.header-v2 {
  animation: fadeIn ease 1s;
  width: 100%;
  height: 300px;
  background: url("../images/header_city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.carousel-title {
  line-height: 1.2;
  font-size: 40px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #1577f77c;
}

.carousel-caption {
  right: 15%;
  left: 15%;
  top: 15%;
  color: #fff;
}

h3.title-big {
  font-family: "Arial Black", sans-serif;
  font-weight: 750;
  line-height: 1.00;
  letter-spacing: -0.5px;
  font-size: 2.5em;
  color: #00437a;
}

h4.header-title {
  font-family: "Arial Black", sans-serif;
  font-weight: 750;
  line-height: 1.00;
  letter-spacing: -0.5px;
  font-size: 2.5em;
  color: #f1f1f1;
}

.event-title {
  font-family: Georgia, serif;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
  font-size: 1.625rem;
  font-weight: 475;
  line-height: 1.5;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 30px;
  box-shadow: 0 0.1rem 0.1rem rgba(90, 97, 105, 0.12), 0 0.1rem 0.1rem rgba(90, 97, 105, 0.1);
}


.selection-effect:hover {
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.btn-logo-color {
  color: #fff;
  background-color: #00437a;
  border-color: #2819ae;
  box-shadow: 0 0 0 0.2rem rgba(81, 65, 224, 0.5);
}

.navbar .user-avatar {
  max-width: 1.6rem;
}

.slide-from-left{
  -webkit-animation: slide-from-left-anim .8s forwards;
  animation: slide-from-left-anim .8s forwards;
}

.slide-from-right{
  -webkit-animation: slide-from-right-anim .8s forwards;
  animation: slide-from-right-anim .8s forwards;
}

.success-dialog{
  margin: 15px 30px;
}

@keyframes slide-from-left-anim {
  from {
    transform: translateX(-3%);
    opacity: .6;

  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


@keyframes slide-from-right-anim {
  from {
    transform: translateX(3%);
    opacity: .6;

  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


@media only screen and (max-width: 992px) {
  .carousel-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {

  .carousel-title {
    font-size: 35px;
    line-height: 1.0;
  }

  .header-img {
    height: 250px;
  }

  .login-right-container {

    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .login-side-panel {
    position: relative;
    height: 25vh;
  }
}

@media only screen and (max-width: 576px) {
  .header-img {
    height: 250px;
  }

  .carousel-title {
    font-size: 35px;
    line-height: 1.0;
  }

}